body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
}
.main-wrapper {
  height: 100%;
  width: 100%;
}
.sub-wrapper {
  display: flex;
}
.sub-wrapper > .left {
  width: 300px;
}
.sub-wrapper > .right {
  flex: 1;
}
.title-bar {
  text-align: center;
  height: 34px;
  line-height: 32px;
  background-color: #ccc;
}
.title-bar > .search input {
  width: 90%;
}
.title-bar > .nav {
  display: flex;
}
.title-bar > .nav > .button-group {
  width: 64px;
}
.title-bar > .nav > .title {
  flex: 1;
}
.button-group > .button {
  display: inline-block;
  width: 50%;
  margin-top: 1px;
  box-sizing: border-box;
  background: #fff;
  border: 1px solid #fff;
  cursor: default;
  transition: background, border 200ms;
}
.button-group > .button:hover {
  background: #E5F3FB;
  border: 1px solid #70C0E7;
}
.button-group > .button.disabled,
.button-group > .button.disabled:hover {
  background: #ddd;
  color: #999;
  border: 1px solid #ddd;
}
.sub-wrapper.body > .index ul {
  list-style-type: none;
  padding: 0;
  margin: 0 0 0 0;
}
.sub-wrapper.body > .index ul li {
  cursor: default;
  box-sizing: border-box;
  padding-left: 24px;
  padding-top: 4px;
  padding-bottom: 4px;
  border: 1px solid rgba(0, 0, 0, 0);
}
.sub-wrapper.body > .index ul li:hover {
  background: #E5F3FB;
  border: 1px solid #70C0E7;
}
.sub-wrapper.body > .index ul li.active {
  background: #D1E8FF;
  border: 1px solid #70C0E7;
}
.sub-wrapper.body > .index ul li:hover + li.active {
  border-top-color: rgba(0, 0, 0, 0);
}
.sub-wrapper.body > .index ul li.active + li:hover {
  border-top-color: rgba(0, 0, 0, 0);
}
