doctype html
html
    head
        title Options / Slash
        link(href="assets/css/importer.css", rel="stylesheet")
        meta(charset="utf-8")
    body.config
        .container
            .row(v-repeat="item: configItems")
                .separator.item(v-if="item.type=='separator'")
                    | {{item.title}}
                .config.item.checkbox(v-if="item.type=='checkbox'")
                    input(type="checkbox", v-model="item.value" id="{{item.key}}")
                    label(for="{{item.key}}") {{item.title}}
                .config.item.select(v-if="item.type=='select'")
                    label(for="{{item.key}}") {{item.title}}
                    select(v-model="item.value" id="{{item.key}}")
                        option(v-repeat="option: item.options", value="{{option.key}}") {{option.title}}
                .config.item.text(v-if="item.type == 'text' || item.type == 'int' || item.type == 'number'")
                    label(for="{{item.key}}") {{item.title}}
                    input(type="text", v-model="item.value" id="{{item.key}}")
        .ctrls
            button(v-on="click: saveAndClose") Ok
            button(v-on="click: closeWindow") Cancel
        script(type="text/javascript", src="assets/js/common.js")
        script(type="text/javascript", src="assets/js/config.js")