doctype html
html
    head
        title Docsets / Slash
        meta(charset="utf8")
        link(rel="stylesheet" href="assets/css/importer.css")
        link(rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.min.css")
    body.docsets
        script(src="assets/js/common.js")
        script(src="assets/js/docsets-run.js")
