doctype html
html
	head
		title Slash / Slash
		meta(charset="utf8")
		link(rel="stylesheet" href="assets/css/importer.css")
		link(rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.min.css")
	body
		.main-wrapper
			.title-bar.sub-wrapper
				.search.left
					input#search(type="text" placeholder="Search" autofocus)
				.nav.right
					.button-group.left
						.forward.button.left
							i.fa.fa-angle-left
						.back.button.right.disabled
							i.fa.fa-angle-right
					#doc-title.title Welcome!
					.button-group.right
						.bookmark.button.right
							i.fa.fa-bookmark
						.bars.button.left
							i.fa.fa-bars
			.body.sub-wrapper
				.index.left
					ul
						li.active file_get_contents
						li file_put_contents
				.content.right
					h1 file_get_contents
					h2 This is the most f**kable function in PHP.